.cart {
  margin-top: 96px;
  margin-bottom: 128px;
}

.cart .cart__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart .cart__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .cart__item {
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  width: 652px;
  height: 306px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.cart .item__img {
  width: 262px;
  height: 306px;
  background-color: #F3EEEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart .item__img__cart {
  height: 100%;
}

.cart .item__description__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 22px 0 62px 31px;
  width: 262px;
}

.cart .item__name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-decoration: none;
}

.cart .item__parameters {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.4;
  color: #575757;
}

.cart .red__text {
  color: #EF5B70;
}

.cart #item__count {
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
}

.cart #item__count:focus {
  outline: none;
}

.cart .cart__btn__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.cart .cart__btn__anchor {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
}

.cart .item__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart .item__close img {
  padding: 28px 22px 0 0;
}

.cart .cart__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart .shipping__adress {
  width: 360px;
  height: 272px;
  margin: 0 0 74px 0;
}

.cart .shipping__adress legend {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.cart .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart .country,
.cart .state,
.cart .postcode {
  width: 360px;
  height: 45px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #A4A4A4;
  margin-bottom: 21px;
  padding-left: 17px;
  opacity: .7;
}

.cart .submit__cart {
  width: 101px;
  height: 35px;
  padding: 10px 15px 12px 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  opacity: .7;
}

.cart .cart__total {
  width: 360px;
  height: 214px;
  background: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cart__total-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
  height: 107px;
}

.cart .cart__sub-box {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 39px 25px 12px 0;
}

.cart .cart__grand-box {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 37px 21px 0;
}

.cart .cart__sub,
.cart .cart__grand {
  font-family: 'Lato';
  width: 50px;
  background-color: #F5F3F3;
  font-style: normal;
  font-weight: bold;
  padding-left: 25px;
}

.cart .cart__sub {
  font-size: 12px;
  line-height: 13px;
}

.cart .cart__grand {
  font-size: 17px;
  line-height: 19px;
  color: #F16D7F;
}

.cart .cart__total-btnbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 107px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #E2E2E2;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart .cart__total-btn {
  background: #F16D7F;
  width: 275px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart .cart__total-anchor {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
