* {
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  width: 100%;
}

.header .nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0 17px 0;
}

.header .nav__left .nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header .nav__link:not(:last-child) {
  margin-right: 33px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style-type: none;
}

.header .link__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  max-width: 100%;
  background: #F1E4E6;
}

.intro .intro__wrap {
  height: 764px;
  background-image: url(/pic/Intro_1.png);
  background-repeat: no-repeat;
  background-position: -225px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro .intro__text {
  max-width: 377px;
  padding-left: 20px;
  border-left: 12px solid #F16D7F;
}

.intro h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.intro h1 .bold__text {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.intro h1 .colorized__text {
  color: #F16D7F;
}

.offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 65px;
}

.offer__inner .offer__card {
  max-width: 350px;
  height: 260px;
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.offer__inner .dark__layer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 360px;
  height: 260px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__inner .dark__layer__max {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 180px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__inner .offer__card:last-child {
  max-width: 1140px;
  max-height: 180px;
}

.offer__inner .offer__header {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.offer__inner .colorized__text {
  font-style: Lato;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: height 28px;
  color: #F16D7F;
}

.item .item__shell {
  margin-top: 96px;
}

.item .item__shell__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 48px 0 18px 0;
}

.item .item__header {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.item .item__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.item .item__inner {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  max-width: 350px;
  background-color: #F8F8F8;
}

.item .item__card {
  max-width: 350px;
}

.item .item__card__pic {
  max-width: 350px;
}

.item .item__description {
  max-width: 350px;
  max-width: 315px;
  margin: 25px 28px 20px 16px;
}

.item .item__name {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.item .item__descr {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 13px;
  margin-bottom: 18px;
}

.item .item__price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-bottom: 24px;
}

.item .item__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item .item__btn__anchor {
  top: 50%;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 39px;
}

.outro {
  background-color: #222224;
}

.outro .outro__container {
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 95px;
  color: pink;
}

.outro .outro__block {
  width: 360px;
  height: 135px;
  display: block;
  text-align: center;
}

.outro .outro__img {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outro h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
}

.outro .outro__paragraph {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin-top: 16px;
}

.subscribe {
  height: 448px;
  background-image: url(/pic/Sub_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe .subscribe__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.subscribe .subscribe__info {
  width: 360px;
  height: 225px;
  text-align: center;
  position: relative;
}

.subscribe .cover__layer {
  background: rgba(250, 247, 247, 0.507);
  width: 100%;
  height: 448px;
  position: absolute;
}

.subscribe .subscribe__info__text {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe .subscribe__block {
  text-align: center;
}

.subscribe h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
}

.subscribe .subscribe__block__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
}

.subscribe .submit {
  margin-top: 39px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.subscribe .submit__email {
  border: none;
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin: 0;
}

.subscribe .submit__email:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background: #E1E1E1;
}

.subscribe .submit__btn {
  border: none;
  background-color: #F16D7F;
  color: #fff;
  border-radius: 0 25px 25px 0;
  padding: 10px;
  width: 85px;
  height: 49px;
  margin: 0;
}

.footer {
  background-color: #222224;
  height: 79px;
}

.footer .footer___bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer .rights {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  text-align: center;
}

.footer .footer__icon__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__icon {
  width: 32px;
  height: 32px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__icon:not(liast-child) {
  margin-right: 8px;
}

/*****Catalog******/
.breadcrumb {
  background-color: #F8F3F4;
  background-size: cover;
  height: 148px;
}

.breadcrumb .breadcrumb__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-transform: uppercase;
}

.breadcrumb .breabkrumb__newarrival {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb .breadcrumb__nav__link {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog .drop__menu {
  position: absolute;
  cursor: pointer;
  background: #fff;
}

.catalog .catalog__shell {
  background: #fff;
  width: 100%;
  margin-top: 51px;
}

.catalog .catalog__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #fff;
  width: 1140px;
  padding: 13px;
}

.catalog .catalog__filter {
  left: 20px;
}

.catalog .catalog__nav__filter {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  marker: none;
  list-style-image: none;
  display: block;
  padding: 0px 13px 17px 13px;
}

.catalog .catalog__filter__icon {
  margin-left: 10px;
}

.catalog .catalog__nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  text-transform: uppercase;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  margin: 0 0 17px 13px;
  padding: 11px;
  width: 340px;
}

.catalog summary {
  display: block;
}

.catalog .catalog__item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.9;
  color: #6F6E6E;
  margin-left: 34px;
}

.catalog .catalog__item__link:hover {
  font-weight: 900;
}

.catalog .catalog__parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  marker: none;
  width: 296px;
  position: relative;
}

.catalog .catalog__trend {
  left: 0;
}

.catalog .catalog__size {
  left: 145px;
}

.catalog .catalog__price {
  right: 0;
}

.catalog .catalog__trend__drop,
.catalog .catalog__size__drop,
.catalog .catalog__price__drop {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.catalog .catalog__trend__drop {
  width: 135px;
}

.catalog .catalog__size__drop {
  width: 79px;
}

.catalog .catalog__price__drop {
  width: 90px;
}

.catalog .size__check {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding: 3px 10px 3px 9px;
}

.nav__slider {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 285px;
  height: 44px;
}
