.registration {
    display: flex;
    justify-content: space-between;
    &__form {
        margin: 64px 0 96px 0;
        label {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }
        &__input {
            width: 359px;
            height: 44px;
            border: 1px solid #A4A4A4;
            margin-top: 20px;
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            padding-left: 17px;
            opacity: .8;
        }
        form {
            width: 360px;
            display: flex;
            flex-direction: column;
        }
        .registration__sex {
            display: flex;
            justify-content: start;
            align-items: center;
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #000000;
            margin: 33px 0 26px 0;
            input {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
            label {
                margin-right: 20px;
            }
        }
        span {
            margin-top: 15px;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            opacity: .8;
        }
        button {
            margin-top: 39px;
            width: 167px;
            height: 50px;
            background: #F16D7F;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            cursor: pointer;
            img {
                margin-left: 20px;
            }
            // img:hover {
            //     color: black;
            //     transform: scale(1.4);
            //     transition: 1s;
            //     -webkit-transition: 1s;
            //     -moz-transition: 1s;
            //     -ms-transition: 1s;
            //     -o-transition: 1s;
            //     -webkit-transform: scale(1.4);
            //     -moz-transform: scale(1.4);
            //     -ms-transform: scale(1.4);
            //     -o-transform: scale(1.4);
            // }
        }
        button:hover {
            transition: .7s;
            transform: rotateX(180deg);
            -webkit-transform: rotateX(180deg);
            -moz-transform: rotateX(180deg);
            -ms-transform: rotateX(180deg);
            -o-transform: rotateX(180deg);
            -webkit-transition: .7s;
            -moz-transition: .7s;
            -ms-transition: .7s;
            -o-transition: .7s;
        }
        button:hover img {
            transition: 1s;
            transform: scale3d(2);
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
            -webkit-transform: scale3d(2);
            -moz-transform: scale3d(2);
            -ms-transform: scale3d(2);
            -o-transform: scale3d(2);
        }
    }
    .registration__info {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        width: 652px;
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        h2 {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-bottom: 22px;
        }
        p {
            margin-bottom: 5px;
        }
        li {
            margin: 16px 0 0 -10px;
            list-style-image: url(pic/tick.svg);
            padding-left: 22px;
        }
        h2:hover,
        li:hover,
        p:hover {
            transition: .3s;
            font-weight: bold;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
        }
    }
}

.subscribe__pic {
    img:hover {
        transition: .4s;
        transform: scale(1.2);
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
}